<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<div>
	<span style="color: #9C9C9C; font-family: Tahoma, sans-serif; font-size: 12px; margin-top: 10px; font-weight: bold;">--</span>
	<br>
	<img src="https://generico.cryptodata.cl/firmasCryptoData/logo_vertical.png" width="50px" style="margin-top: 13px; margin-right: 10px; margin-bottom: 0px; float: left;">
	<br>
	<span style="color: #003865; font-family: Tahoma, sans-serif; font-size: 15px; margin-top: 4px; font-weight: bold;">Rodrigo Riveros Rojas</span>
	<br>
	<span style="color: #003865; font-family: Tahoma, sans-serif; font-size: 13px; line-height : 20px; font-weight: bold;">Gerente General</span>
	<br>
	<span style="color: #003865; font-family: Tahoma, sans-serif; font-size: 12px; line-height : 20px; font-weight: normal;">+56 9 81852444</span>
	<br>
	<span style="color: #485CC7; font-family: Tahoma, sans-serif; text-align: left; font-size: 12px; margin-top: 0px;"><a href="www.cryptodata.cl">www.cryptodata.cl</a></span>
	<span style="color: #003865; font-family: Tahoma, sans-serif; text-align: left; font-size: 14px; margin-top: 0px;">
	<br>
	<br>
	..........................................................................................................................................................................
	<br>
	AVISO LEGAL.
	<br>
	</span>
	<p style="font-family: Tahoma, sans-serif; text-align: left; font-size: 11px; margin-top: 5px;">
			Este mensaje y sus documentos anexos pueden contener información confidencial o legalmente protegida. Está dirigido única y exclusivamente a la persona o entidad reseñada como destinatarios del mensaje. Si este mensaje le hubiera llegado por error, por favor elimínelo sin revisarlo ni reenviarlo y notifíquelo lo antes posible al remitente. Cualquier divulgación, copia o utilización de dicha información es contraria a la ley. Le agradecemos su colaboración.
	</p>
</div>
